#cloud-config
write_files:
  - path: /etc/envoy/envoy.ctmpl
    content: |
      static_resources:
      listeners:
      - name: listener_0
        address:
          socket_address: { address: 0.0.0.0, port_value: 8080 }
        filter_chains:
        - filters:
          - name: envoy.filters.network.http_connection_manager
            typed_config:
              "@type": type.googleapis.com/envoy.extensions.filters.network.http_connection_manager.v3.HttpConnectionManager
              stat_prefix: ingress_http
              route_config:
                name: local_route
                virtual_hosts:
                - name: local_service
                  domains: ["*"]
                  routes:
                  - match: { prefix: "/" }
                    route: { cluster: backend_service }
              http_filters:
              - name: envoy.filters.http.router
                typed_config:
                  "@type": type.googleapis.com/envoy.extensions.filters.http.router.v3.Router

      clusters:
      - name: backend_service
        connect_timeout: 0.25s
        type: STATIC
        load_assignment:
          cluster_name: backend_service
          endpoints:
          - lb_endpoints:
            {{ range service "backend-service" }}
            - endpoint:
                address:
                  socket_address:
                    address: {{ .Address }}
                    port_value: {{ .Port }}
            {{ end }}

runcmd:
  - curl -L https://releases.hashicorp.com/consul-template/0.32.0/consul-template_0.32.0_linux_amd64.zip -o ct.zip
  - unzip ct.zip -d /usr/local/bin/
  - consul-template -consul-addr="${control_plane_ip}:8500" -template "/etc/envoy/envoy.ctmpl:/etc/envoy/envoy.yaml:docker restart envoy" &
